/* Style für den gesamten Slider */
.volume-slider {
	-webkit-appearance: none;
	width: 100%;
	height: 10px;
	background: #ddd;
	border-radius: 5px;
	outline: none;
}

/* Stil für den Schieberegler Thumb */
.volume-slider::-webkit-slider-thumb {
	-webkit-appearance: none;
	height: 15px;
	width: 15px;
	border-radius: 50%;
	background: var(--gold);
	cursor: pointer;
}

/* Safari Unterstützung */
.volume-slider::-moz-range-track {
	height: 8px;
	background: var(--gold);
	border-radius: 5px;
}

.volume-slider::-moz-range-thumb {
	height: 20px;
	width: 20px;
	border-radius: 50%;
	background: var(--gold);
	cursor: pointer;
}

.volume-slider::-ms-track {
	width: 100%;
	height: 8px;
	background: var(--gold);
	border-radius: 5px;
	border-color: transparent;
}

.volume-slider::-ms-thumb {
	height: 20px;
	width: 20px;
	border-radius: 50%;
	background: var(--gold);
	cursor: pointer;
}
